---
import { getCollection, render } from "astro:content";
import { Image } from "astro:assets";

import Layout from "@layouts/Layout.astro";

export async function getStaticPaths() {
  const blog = await getCollection("blog");
  return blog.map((post) => {
    return {
      params: { slug: post.data.slug },
      props: { post },
    };
  });
}

const page = "post";
const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout page={page} headers={post.data.nav}>
  <article>
    <Image
      class="!my-0 size-fit"
      src={post.data.thumbnail}
      alt={post.id}
      width={192}
      height={192}
    />
    <h1 id={post.id}>{post.data.title}</h1>
    <div class="!my-[-1rem] fs-base-sm italic">{post.data.date}</div>
    <Content />
  </article>
</Layout>
