---
import { getCollection, getEntry } from "astro:content";

import "@style";
import Layout from "@layouts/Layout.astro";
import BlogSection from "@components/BlogSection.astro";

const posts = await getCollection("blog");
const homelabBlog = await getEntry("homelabBlog", "homelab");
const page = "blog";
---

<Layout page={page}>
  <div class="flex flex-col gap-6">
    <!-- my homelab -->
    <BlogSection
      href={`/about/${homelabBlog?.data.slug}`}
      title={homelabBlog?.data.title}
      date={homelabBlog?.data.date}
      description={homelabBlog?.data.description}
      thumbnail={homelabBlog?.data.thumbnail}
      alt="homelab"
    />

    <!-- rest of my blog stuff -->
    {
      posts.map((post) => (
        <BlogSection
          href={`/blog/${post.data.slug}`}
          title={post.data.title}
          date={post.data.date}
          description={post.data.description}
          thumbnail={post.data.thumbnail}
          alt={post.id}
        />
      ))
    }
  </div>
</Layout>
