---
import { Image } from "astro:assets";

import TechIcon from "@components/widgets/TechIcon.astro";
import { langs, tools, certs } from "@contents/about/skills.ts";
import { techMap } from "@/assets/icons/techMap.ts";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/icons/*.{avif,png}",
);
---

<section>
  <h2 id="skills" class="ul-offset anchor-offset">Skills</h2>
  <div class="md:grid md:grid-cols-2 gap-8">
    <section>
      <h3 id="languages" class="anchor-offset border-b-1 !mt-0">
        Programming Languages
      </h3>
      <div class="flex flex-wrap flex-grow gap-1 fs-base">
        {langs.map((lang) => <TechIcon tech={lang} />)}
      </div>
    </section>
    <section class="row-span-2">
      <h3 id="tools" class="anchor-offset border-b-1 md:!mt-0">
        Tools/Software
      </h3>
      <div class="flex flex-wrap gap-1 fs-base">
        {tools.map((tool) => <TechIcon tech={tool} />)}
      </div>
    </section>
    <section>
      <h3 id="certifications" class="anchor-offset border-b-1 md:!mt-0">
        Certifications
      </h3>
      <div class="flex flex-wrap gap-1 fs-base">
        {
          certs.map((cert) => (
            <div class="flex flex-col items-center justify-evenly border-1 w-[131px] h-[131px] sm:w-[161px] sm:h-[161px]">
              <Image
                class="!m-0 size-fit w-[70px] h-[70px] sm:w-[100px] sm:h-[100px]"
                src={images[`/src/assets/icons/${techMap.get(cert[0])}`]()}
                alt={cert[0]}
                width={100}
                height={100}
              />
              <a class="text-center leading-4" href={cert[1]}>
                {cert[0]}
              </a>
            </div>
          ))
        }
      </div>
    </section>
  </div>
</section>
