---
import { Image } from "astro:assets";

import TechIcon from "@components/widgets/TechIcon.astro";
import { langs, tools, certs } from "@content/about/skills";
import { techMap } from "@/assets/icons/techMap.ts";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/icons/*.{avif,png}",
);
---

<section class="mt-24">
  <h1 id="skills">Skills</h1>
  <div class="grid md:grid-cols-2 gap-8 fs-base-sm">
    <section>
      <div id="langs" class="text-lg font-bold border-b-1 mb-4">
        Programming Languages
      </div>
      <div class="flex flex-wrap flex-grow gap-1">
        {langs.map((lang) => <TechIcon tech={lang} />)}
      </div>
    </section>
    <section class="row-span-2">
      <div id="tools" class="text-lg font-bold border-b-1 mb-4">
        Tools/Software
      </div>
      <div class="flex flex-wrap gap-1">
        {tools.map((tool) => <TechIcon tech={tool} />)}
      </div>
    </section>
    <section>
      <div id="certs" class="text-lg font-bold border-b-1 mb-4">
        Certifications
      </div>
      <div class="flex flex-wrap gap-1">
        {
          certs.map((cert) => (
            <div class="flex flex-col items-center justify-evenly border-1 w-[131px] h-[131px] sm:w-[161px] sm:h-[161px] icon-theme">
              <Image
                class="!m-0 size-fit w-[70px] h-[70px] sm:w-[100px] sm:h-[100px]"
                src={images[`/src/assets/icons/${techMap.get(cert[0])}`]()}
                alt={cert[0]}
                width={100}
                height={100}
              />
              <a class="text-center leading-4" href={cert[1]} target="_blank">
                {cert[0]}
              </a>
            </div>
          ))
        }
      </div>
    </section>
  </div>
</section>
